*{
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: transparent;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    position: fixed!important;
    overflow: hidden;
    transition: background-color 0.60s ease 0s; /* Delay the background color change */
    z-index: 999;
}


.LeftSide{ 
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    
}
.LeftSide .Reciprocity{
    margin-left: 2em;
}
.LeftSide a{
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 3vh;
    text-decoration: none;
    transition: color 0.4s; /* Transition for text color change */

}

.Rightside{
    
    display: flex; 
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    
}

.Rightside a{
   
    color: rgb(255, 255, 255);
    flex-wrap: nowrap;
    margin-right: 2vh;
    margin-left: 3.5vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 2vh;
    text-decoration: none;
    font-weight: 500;

    
}
.Logo0994{
    height: 7vh; /* Equal to width for a perfect circle */
    width: 7vh; /* Equal to height for a perfect circle */
    border-radius: 50vh; /* This creates the round shape */
    margin: 1vh 1vw; /* Adjusted as needed for spacing */
}

.Cart{

    height: 35px;
    width: 35px;
}


.Rightside a:hover{
   color: red;
}
.LeftSide a:hover{
    color: red;
 }
/* Changes the color on scroll */

.navbar.scroll {
    background-color: rgb(0, 0, 0); /* New background color */
    transition-delay: 0s; /* No delay when reverting back */
}
  .navbar.scroll .Rightside a{
    color: rgb(255, 255, 255); /* New text color */
  }

  .navbar.scroll .LeftSide a {
    color: rgb(255, 255, 255); /* New text color */
  }

  .navbar.scroll .Rightside a:hover{
    color: red;
  }

  .navbar.scroll .LeftSide a:hover{
    color: red;
  }
        /* Styles for the menu button icon */
        .menu-btn i {
            color: #fff;
            font-size: 22px;
            cursor: pointer;
            display: none;
        }
        input[type="checkbox"]{
            display: none;
        }
  /* responsive */

@media (max-width:  422px){
    *{
        margin: 0;
        padding: 0;
    }
    .navbar {
        background-color: transparent;
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100%;
        position: fixed!important;
        overflow: hidden;
        transition: background-color 0.60s ease 0s; /* Delay the background color change */
        z-index: 999;
    }
    
    
    .LeftSide{ 
        display: flex; 
        align-items: center;
        justify-content: flex-start;
        width: 50%;
        
    }
    .LeftSide .Reciprocity{
        margin-left: 2em;
    }
    .LeftSide a{
        color: rgb(0, 0, 0);
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 600;
        font-size: 3vh;
        text-decoration: none;
        transition: color 0.4s; /* Transition for text color change */
    
    }
    
    .Rightside{
        
        display: flex; 
        align-items: center;
        justify-content: flex-end;
        width: 50%;
        
    }
    
    .Rightside a{
       
        color: rgb(255, 255, 255);
        flex-wrap: nowrap;
        margin-right: 2vh;
        margin-left: 3.5vh;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 300;
        font-size: 2vh;
        text-decoration: none;
        font-weight: 500;
    
        
    }
    .Logo0994{
        height: 7vh; /* Equal to width for a perfect circle */
        width: 7vh; /* Equal to height for a perfect circle */
        border-radius: 50vh; /* This creates the round shape */
        margin: 1vh 1vw; /* Adjusted as needed for spacing */
    }
    
    .Cart{
    
        height: 35px;
        width: 35px;
    }
    
    
    .Rightside a:hover{
       color: red;
    }
    .LeftSide a:hover{
        color: red;
     }
    /* Changes the color on scroll */
    
    .navbar.scroll {
        background-color: rgb(0, 0, 0); /* New background color */
        transition-delay: 0s; /* No delay when reverting back */
    }
      .navbar.scroll .Rightside a{
        color: rgb(255, 255, 255); /* New text color */
      }
    
      .navbar.scroll .LeftSide a {
        color: rgb(255, 255, 255); /* New text color */
      }
    
      .navbar.scroll .Rightside a:hover{
        color: red;
      }
    
      .navbar.scroll .LeftSide a:hover{
        color: red;
      }
    
      /* responsive */

}
@media (max-width:  422px){

}