/* Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* Main Shop */

.mainshop{
    background-color: #f4eae0;
    margin: 0;
    z-index: -100000;
    background-size: 100vh;
    
}

.slider-wrapper{
    position: relative;
}

.slider-wrapper .slide-button{
    position: absolute;
    top: 48%;
    height: 50px;
    width: 50px;
    color: #fff;
    background-color: #000;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.slider-wrapper .slide-button:hover{
    background: #444;
}

.slider-wrapper .slide-button#prev-slide{
    left: 10px;
    display: none;
}

.slider-wrapper .slide-button#next-slide{
    right: 10px;
}

.menspl{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    font-size: 20px;
}

.image-item{
    margin: auto;
}

.Descrip{
    position: relative;
    display: flex;
    justify-content: center;
    font-family: "Roboto",sans-serif;
    width: 75%;
    max-width: 100%;
    margin-top: -10px;
    margin-left: 30px;
    font-weight: 400;
    font-size: 25px;

}

.price{
    position: relative;
    font-family: "Roboto",sans-serif;
    width: 50%;
    max-width: 100%;
    margin-top: -0px;
    margin-left: 140px;
    font-weight: 700;
    font-size: 20px;
    color: #ff5a5a;
}

.support h3{
    display: flex;
    justify-content: center;
    opacity: 0.5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.slider-wrapper .image-list1 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    overflow: auto;
    scrollbar-width: none;
    margin-bottom: 10px;
}   

.slider-wrapper .image-list1::-webkit-scrollbar{
    display: none;
}

.slider-wrapper .image-list1 .image-item {
    position: relative;
    width: 400px;
    height: 400px;
    object-fit: cover;
    padding: 20px 20px;
    z-index: 1;
    cursor: pointer;
    transition: filter 0.3s ease;
}

.slider-wrapper .image-list1 .image-item:hover{
    filter: brightness(40%);
}

.mainshop .slider-scrollbar{
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track{
    height: 2px;
    width: 100%;
    background-color: #949393;
    position: relative;
    border-radius: 4px;
}

.slider-scrollbar .scrollbar-thumb{
    position: absolute;
    height: 100%;
    width: 30%;
    background-color: #000;
    border-radius: inherit;
    cursor: grab;
}

.slider-scrollbar .scrollbar-thumb::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

.slider-scrollbar:hover .scrollbar-track{
    height: 4px;
}

.slider-scrollbar:hover .scrollbar-thumb:active{
    cursor: grabbing;
    height: 8px;
    top: -2px;

}

.indi{
    display: block;
    position: sticky;
    max-width: 100%;
    z-index: 100;
    margin-top: -260px;
    margin-left: 133px;
    opacity: 1;
    color: #fff; 
    transition: opacity 0.3s ease;
    border: 2px solid #000;
    padding: 10px 10px;
    cursor: pointer;
    width: 32%;
    display: none; /* Hide .indi by default */
    transition: opacity 0.3s ease;
    transition: background-color 1s linear 0s;
    

}

.slide-item:hover .indi {
    display: block; /* Show .indi when .slide-item is hovered */
    opacity: 1;
}

.indi:hover{
    border: #ff5a5a;
    background-color: #ff5a5a;
    opacity: 1;
    z-index: 1;

}

.indi h1{
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-size: 25px;
    
}



/* Street Wear Clothes */

.slider-wrapper2{
    position: relative;
}

.slider-wrapper2 .slide-button2{
    position: absolute;
    top: 48%;
    height: 50px;
    width: 50px;
    color: #fff;
    background-color: #000;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
    z-index: 7;
}

.slider-wrapper2 .slide-button2:hover{
    background: #444;
}

.slider-wrapper2 .slide-button2#prev-slide2{
    left: 10px;
    display: none;
}

.slider-wrapper2 .slide-button2#next-slide2{
    right: 10px;
}

.slider-wrapper2 .image-list2 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    overflow: auto;
    scrollbar-width: none;
    margin-bottom: 10px;
}   

.slider-wrapper2 .image-list2::-webkit-scrollbar{
    display: none;
}

.slider-wrapper2 .image-list2 .image-item2 {
    width: 400px;
    height: 400px;
    object-fit: cover;
    padding: 20px 20px;
    transition: filter 0.3s ease;
}

.slider-wrapper2 .image-list2 .image-item2:hover{
    filter: brightness(40%);
}

.mainshop .slider-scrollbar2{
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar2 .scrollbar-track2{
    height: 2px;
    width: 100%;
    background-color: #949393;
    position: relative;
    border-radius: 4px;
}

.slider-scrollbar2 .scrollbar-thumb2{
    position: absolute;
    height: 100%;
    width: 30%;
    background-color: #000;
    border-radius: inherit;
    cursor: grab;
}

.slider-scrollbar2 .scrollbar-thumb2::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

.slider-scrollbar2:hover .scrollbar-thumb2:active{
    cursor: grabbing;
    height: 8px;
    top: -2px;

}

.slider-scrollbar2:hover .scrollbar-track2{
    height: 4px;
}

/* end */

/* Casual Clothes */

.mainshop3{
    background-color: #f4eae0;
    margin: 0;
}

.slider-wrapper3{
    position: relative;
}

.slider-wrapper3 .slide-button3{
    position: absolute;
    top: 48%;
    height: 50px;
    width: 50px;
    color: #fff;
    background-color: #000;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.slider-wrapper3 .slide-button3:hover{
    background: #444;
}

.slider-wrapper3 .slide-button3#prev-slide3{
    left: 10px;
    display: none;
}

.slider-wrapper3 .slide-button3#next-slide3{
    right: 10px;
}

.slider-wrapper3 .image-list3 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    overflow: auto;
    scrollbar-width: none;
    margin-bottom: 10px;
}   

.slider-wrapper3 .image-list3::-webkit-scrollbar{
    display: none;
}

.slider-wrapper3 .image-list3 .image-item3 {
    width: 400px;
    height: 400px;
    object-fit: cover;
    padding: 20px 20px;
    transition: filter 0.3s ease;
}

.slider-wrapper3 .image-list3 .image-item3:hover{
    filter: brightness(40%);
}

.mainshop3 .slider-scrollbar3{
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar3 .scrollbar-track3{
    height: 2px;
    width: 100%;
    background-color: #949393;
    position: relative;
    border-radius: 4px;
}

.slider-scrollbar3 .scrollbar-thumb3{
    position: absolute;
    height: 100%;
    width: 30%;
    background-color: #000;
    border-radius: inherit;
    cursor: grab;
}

.slider-scrollbar3 .scrollbar-thumb3::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

.slider-scrollbar3:hover .scrollbar-thumb3:active{
    cursor: grabbing;
    height: 8px;
    top: -2px;

}

.slider-scrollbar3:hover .scrollbar-track3{
    height: 4px;
}

/* end */

/* Women Formal Attire*/

.mainshop4{
    background-color: #f4eae0;
    margin: 0;
}

.slider-wrapper4{
    position: relative;
}

.slider-wrapper4 .slide-button4{
    position: absolute;
    top: 48%;
    height: 50px;
    width: 50px;
    color: #fff;
    background-color: #000;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.slider-wrapper4 .slide-button4:hover{
    background: #444;
}

.slider-wrapper4 .slide-button4#prev-slide4{
    left: 10px;
    display: none;
}

.slider-wrapper4 .slide-button4#next-slide4{
    right: 10px;
}

.slider-wrapper4 .image-list4 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    overflow: auto;
    scrollbar-width: none;
    margin-bottom: 10px;
}   

.slider-wrapper4 .image-list4::-webkit-scrollbar{
    display: none;
}

.slider-wrapper4 .image-list4 .image-item4 {
    width: 400px;
    height: 400px;
    object-fit: cover;
    padding: 20px 20px;
    transition: filter 0.3s ease;
}

.slider-wrapper4 .image-list4 .image-item4:hover{
    filter: brightness(40%);
}

.mainshop4 .slider-scrollbar4{
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar4 .scrollbar-track4{
    height: 2px;
    width: 100%;
    background-color: #949393;
    position: relative;
    border-radius: 4px;
}

.slider-scrollbar4 .scrollbar-thumb4{
    position: absolute;
    height: 100%;
    width: 30%;
    background-color: #000;
    border-radius: inherit;
    cursor: grab;
}

.slider-scrollbar4 .scrollbar-thumb4::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

.slider-scrollbar4:hover .scrollbar-thumb4:active{
    cursor: grabbing;
    height: 8px;
    top: -2px;

}

.slider-scrollbar4:hover .scrollbar-track4{
    height: 4px;
}

/* end */


/* Casual Women*/

.mainshop5{
    background-color: #f4eae0;
    margin: 0;
}

.slider-wrapper5{
    position: relative;
}

.slider-wrapper5 .slide-button5{
    position: absolute;
    top: 48%;
    height: 50px;
    width: 50px;
    color: #fff;
    background-color: #000;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.slider-wrapper5 .slide-button5:hover{
    background: #444;
}

.slider-wrapper5 .slide-button5#prev-slide5{
    left: 10px;
    display: none;
}

.slider-wrapper5 .slide-button5#next-slide5{
    right: 10px;
}

.slider-wrapper5 .image-list5 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    overflow: auto;
    scrollbar-width: none;
    margin-bottom: 10px;
}   

.slider-wrapper5 .image-list5::-webkit-scrollbar{
    display: none;
}

.slider-wrapper5 .image-list5 .image-item5 {
    width: 400px;
    height: 400px;
    object-fit: cover;
    padding: 20px 20px;
    transition: filter 0.3s ease;
}

.slider-wrapper5 .image-list5 .image-item5:hover{
    filter: brightness(40%);
}

.mainshop5 .slider-scrollbar5{
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar5 .scrollbar-track5{
    height: 2px;
    width: 100%;
    background-color: #949393;
    position: relative;
    border-radius: 4px;
}

.slider-scrollbar5 .scrollbar-thumb5{
    position: absolute;
    height: 100%;
    width: 30%;
    background-color: #000;
    border-radius: inherit;
    cursor: grab;
}

.slider-scrollbar5 .scrollbar-thumb5::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

.slider-scrollbar5:hover .scrollbar-thumb5:active{
    cursor: grabbing;
    height: 8px;
    top: -2px;

}

.slider-scrollbar5:hover .scrollbar-track5{
    height: 4px;
}

/* end */

/* Accessories Shades*/

.mainshop6{
    background-color: #f4eae0;
    margin: 0;
}

.slider-wrapper6{
    position: relative;
}

.slider-wrapper6 .slide-button6{
    position: absolute;
    top: 48%;
    height: 50px;
    width: 50px;
    color: #fff;
    background-color: #000;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.slider-wrapper6 .slide-button6:hover{
    background: #444;
}

.slider-wrapper6 .slide-button6#prev-slide6{
    left: 10px;
    display: none;
}

.slider-wrapper6 .slide-button6#next-slide6{
    right: 10px;
}

.slider-wrapper6 .image-list6 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    overflow: auto;
    scrollbar-width: none;
    margin-bottom: 10px;
}   

.slider-wrapper6 .image-list6::-webkit-scrollbar{
    display: none;
}

.slider-wrapper6 .image-list6 .image-item6 {
    width: 400px;
    height: 400px;
    object-fit: cover;
    padding: 20px 20px;
    transition: filter 0.3s ease;
}

.slider-wrapper6 .image-list6 .image-item6:hover{
    filter: brightness(40%);
}

.mainshop6 .slider-scrollbar6{
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar6 .scrollbar-track6{
    height: 2px;
    width: 100%;
    background-color: #949393;
    position: relative;
    border-radius: 4px;
}

.slider-scrollbar6 .scrollbar-thumb6{
    position: absolute;
    height: 100%;
    width: 30%;
    background-color: #000;
    border-radius: inherit;
    cursor: grab;
}

.slider-scrollbar6 .scrollbar-thumb6::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

.slider-scrollbar6:hover .scrollbar-thumb6:active{
    cursor: grabbing;
    height: 8px;
    top: -2px;

}

.slider-scrollbar6:hover .scrollbar-track6{
    height: 4px;
}

/* end */

/* Promotion  */

.sales{
    background-color: #ff5a5a;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
}

.intr{
    display: flex;
    justify-content: space-around;
    padding: 50px 50px;
    
}

.butts{
    padding: 15px 15px;
    margin: 0;
    background-color: black;
    color: white;
    box-shadow: 44px 41px 9px -5px rgba(0,0,0,0.1);
    text-decoration: none;
    border: none;
    display: flex;
    font-family: "Roboto", sans-serif;
}

.butts:hover{
    background-color: black;
    opacity: 0.7;
}

/* end  */

/* Footer Bar */

.footer{
    width: 100%;
    padding: 100px 0 30px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col1{
    flex-basis: 25%;
    padding: 10px;
}

.col1 h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.col1 p{
    font-family: "Roboto", sans-serif;
}

.col2{
    flex-basis: 25%;
    padding: 10px;
}

.col2 h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.col2 a{
    font-family: "Roboto", sans-serif;
}

ul li{
    list-style: none;
    margin-bottom: 12px;
}

ul li a{
    text-decoration: none;
    color: black;
}

ul li a:hover{
    color: #ff5a5a;
    text-decoration: underline;
}

.col3{
    flex-basis: 25%;
    padding: 10px;
}

.col3 h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.col3 p{
    font-family: "Roboto", sans-serif;
}


.col4 h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;

}

.facebook{
    height: 50px;
    width: 50px;
    padding: 10px 10px;
    
}

.instagram{
    height: 50px;
    width: 50px;
    padding: 10px 10px;
    
}

.whatsapp{
    height: 50px;
    width: 50px;
    padding: 10px 10px;
    
}

.pinterest{
    height: 50px;
    width: 50px;
    padding: 10px 10px;
    
}

.copy{
    display: flex;
    font-family: "Roboto", sans-serif;
    justify-content: center;
    margin-top: 20px;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #000000;
    margin: 20px auto;
}

.col4 p{
    font-family: "Roboto",sans-serif;
}


/* End of Footer */